Source: gsql
Maintainer: Dmitry E. Oboukhov <unera@debian.org>
Section: gnome
Priority: optional
Build-Depends: cdbs, debhelper, autotools-dev,
 libgtksourceview2.0-dev, libnotify-dev, libgtk2.0-dev,
 libgnomeui-dev, libvte-dev, libmysqlclient-dev
Standards-Version: 3.8.0
Homepage: http://gsql.org

Package: libgsql0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Integrated database development tool for GNOME
 This package contains library for gsql.

Package: libgsql-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends},
 libgsql0 (=${binary:Version})
Description: Integrated database development tool for GNOME
 This package contains the development headers for the library found
 in libgsql0.

Package: gsql
Architecture: any
Recommends: gsql-plugins (>=${source:Version})
Depends: menu (>=2.1.19), ${shlibs:Depends}, ${misc:Depends}, gconf2,
 gsql-mysql-engine (>=${source:Version})|
 gsql-oracle-engine (>=${source:Version}),
 libgsql0 (=${binary:Version})
Description: Integrated database development tool for GNOME
 The mission of GSQL opensource project is to supply database developers with
 an universal tool platform tailored against market leading DBMS by providing:
 .
  * native DBMS access (not via ODBC layer)
  * databased objects organised into a tree
  * intuitive and easy database objects handling
  * syntax highlighting
  * query plan builder
  * query constructor
  * query result export (in XML, CSV, HTML)
  * debugger (depending on RDBMS)
  * query planner control (depending on RDBMS)
  * database administration functions
  * database system monitoring
  * GNOME integration (via GConf and gnome-keyring)
  * plugin: data migration wizard for various RDBMS
 .
 Architecturely GSQL is designed so that the database interfaces are arranged
 into modules linked to the platform by engine API. It allows to implement new
 engines independently. GSQL provides developers with a rich API. To extend the
 functions of GSQL engines, we suggest loadable plugins API.
 .
 One of the main ideas is tight integration with the Desktop Environment
 (GNOME).
 .
 We kindly ask you to post your ideas and wishes in the project forum.

Package: gsql-plugins
Architecture: any
Depends: gsql (>=${source:Version}), ${shlibs:Depends}, ${misc:Depends}, gconf2,
Description: Plugins for GSQL
 This package contains the plugins set for gsql.

Package: gsql-mysql-engine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gconf2,
Description: MySQL engine for GSQL
 The GSQL can works with MySQL server, and this module
 is necessary for that.

