#!/usr/bin/make -f

# DEB_TAR_SRCDIR=gsql-0.2.0
# include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/gnome.mk


DEB_CONFIGURE_EXTRA_FLAGS	:=	\
	--with-gconf-schema-file-dir=/usr/share/gconf/schemas	\
	--docdir=/usr/share/doc/gsql \
	-disable-scrollkeeper 

DEB_DH_SHLIBDEPS_ARGS_gsql-oracle-engine += --dpkg-shlibdeps-params=--ignore-missing-info

DEB_INSTALL_CHANGELOGS_ALL	:=
DEB_INSTALL_DOCS_ALL		:=


# remove zero-length changelogs
binary-post-install/gsql::
	p=$(@:binary-post-install/%=%); \
	rm -fv debian/$$p/usr/share/doc/$$p/changelog
binary-post-install/libgsql0::
	p=$(@:binary-post-install/%=%); \
	rm -fv debian/$$p/usr/share/doc/$$p/changelog
binary-post-install/libgsql-dev::
	p=$(@:binary-post-install/%=%); \
	rm -fv debian/$$p/usr/share/doc/$$p/changelog
binary-post-install/gsql-mysql-engine::
	p=$(@:binary-post-install/%=%); \
	rm -fv debian/$$p/usr/share/doc/$$p/changelog
binary-post-install/gsql-postgresql-engine::
	p=$(@:binary-post-install/%=%); \
	rm -fv debian/$$p/usr/share/doc/$$p/changelog

binary-post-install/gsql-plugins::
	p=$(@:binary-post-install/%=%); \
	rm -fv debian/$$p/usr/share/doc/$$p/changelog

clean::
	rm -f *.cdbs-config_list
	if test -f Makefile; then make distclean; fi
